@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background-color: #f1f1f1;
    color: #0f142e;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}

a:hover{
    text-decoration: underline;
}

a:visited{
    color: rgb(88, 88, 88);
}

a:active{
    color: rgb(38, 38, 235);
}

a{
    color: black;
    text-decoration: none;
}

.LoremMainImg{
    width: 230px;
    height: 190px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
}


.HeddingInfo{
    margin-bottom: 20px;
    display: flex;
}

.HeddingInfo p{
    color: #86898f;
    margin: 0;
    font-style: italic;
}

.maintext{
    margin-left: 40px;
}

.maintext h4{
    margin-bottom: 10px;
}

.container{
    padding-top: 20px;
    max-width: 750px;
    margin: auto;
}

.card{
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.card h2{
    margin-bottom: 10px;
}

.bg-yellow{
    background-color: #fff9dc;
}

.bg-green{
    background-color: #e5ffe7;
}

.bg-red{
    background-color: #ffe5e5;
}

.list{
    padding: 5px 20px;
}

.list li{
    color: #86898f;
    margin-bottom: 10px;
}

.tables{
    width: 100%;
}

.tables td{
    padding: 7px;
}

.tables td:nth-child(2), .tables td:nth-child(3) {
    color: #86898f;
}

.link-linky{
    padding: 20px;
}

.link-linky li{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

.forn h2{
    text-align: center;
}

.fgroup label{
    display: block;
    font-size: 14px;
    color: #86898f;
}

.fgroup input,
.fgroup textarea{
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #ccc;
    color: #000;
    padding: 15px 0 10px;
    outline: none;
    font-family: 'Roboto', sans-serif;
    background: transparent;
}

.row{
    display: flex;
    margin-bottom: 20px;

}

.row > .fgroup{
    width: 50%;
}

.row > .fgroup:first-child{
    margin-right: 20px;
}

.btn{
    margin: 0 auto;
    display: block;
    background: #111;
    padding: 15px 25px;
    color: white;
    border: none;
    font-family: inherit;
    cursor: pointer;
    border-radius: 10px;
}

.btn:hover{
    opacity: 0.9;
}

.helper{
    color: #111;
    border-bottom: 1px dashed #111;
    cursor: pointer;
    position: relative;
}

.helper:before{
    display: block;
    position: absolute;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.85);
    left: 50%;
    margin-left: -90px;
    margin-top: -60px;
    content: attr(data-title);
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    font-size: small;
    color: #ccc;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
}

.helper:hover:before{
    visibility: visible;
    opacity: 1;
}















.tooltip {
	position: relative;
	background: #eaeaea;
	cursor: help;
	display: inline-block;
	text-decoration: none;
	color: #222;
	outline: none;
}
.tooltip span {
	visibility: hidden;
	position: absolute;
	bottom: 30px;
	left: 50%;
	width: 230px;
    height: 90px;
	margin-left: -127px;
	padding: 10px;
	border: 2px solid #ccc;
	opacity: .9;
	background-color: #ddd;
	-moz-border-radius: 4px;
	border-radius: 8px;
    font-size: 12px;
}
.tooltip:hover {
	border: 0; 
}

.tooltip:hover span {
	visibility: visible;
}


.tooltip span:before,
.tooltip span:after	{
	content: "";
	position: absolute;
	bottom: -7px;
	left: 50%;
	margin-left: -8px;
	border-top: 8px solid #ddd;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 0;
}

.tooltip span:before {
	border-top-color: #ccc;
	bottom: -8px;
}

.ImgTool{
    height: 75px;
    width: 105px;
    border-radius: 6px;
}